@model IEnumerable<AgiliFood.Models.tb_fornecedor>

@{
    ViewBag.Title = "SelecionarFornecedor";
}

<h2>Selecionar Fornecedor</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Fornecedor")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome_fornecedor)
        </td>
        <td>
            @Html.ActionLink("Selecionar", "ConsultarProdutos", "Produtos", new { idFornecedor = item.id_fornecedor } , new { @class = "btn btn-success" })
        </td>
    </tr>
}
</table>

<center>
    @Html.ValidationMessage("Error", new { @class= "text-danger"})
</center>
